@font-face {
<<<<<<< HEAD
  font-family: ank16;
  src: url(/assets/fonts/Web437_DOS-V_re_ANK16.woff);
}

@font-face {
  font-family: ank24;
  src: url(/assets/fonts/Web437_DOS-V_re_ANK24.woff);
}

@font-face {
  font-family: mod3;
  src: url(https://file.garden/Zx6xDK2qeAn-d7p4/fonts/Web437_IBM_Model3x_Alt1.woff);
}

body:before {
  content: " ";

  height: 100%;
  width: 100%;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 7;
  background-image: url('start.gif');
  background-color: #101214;
  background-size: auto;
  background-repeat: no-repeat;
  background-position: center;
  animation: yourAnimation 0.9s ease 1s 1 normal forwards;
  pointer-events: none;
}

@keyframes yourAnimation {
  0.0% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

body {
  margin: 0;
  background-color: #10130d;
  background-image: url("shade.png"), url("45.png");
  background: image opacity 0.1;
  background-size: 100% 100%, auto;
  background-repeat: no-repeat, repeat;
  background-position: left, 25%;
  background-attachment: fixed, local;
  --main: black;
  --back: #fcfbf4;
  --mid: #dad2b4;
}

#fdd {
  font-family: Tahoma, Geneva, Verdana, sans-serif;
  font-size: 13px;
  font-style: italic;
  margin-top: -7px !important;
  margin: 15px;
  display: flex;
  justify-content: center;
  color: var(--mid);
  a {
    text-decoration: none;
    color: var(--mid);
  }
}

p {
  margin: 0;
}

.site {
  display: flex;
}

header {
  display: flex;
  justify-content: center;
  margin: 10px;
=======
    font-family: ank16;
    src: url(/assets/fonts/Web437_DOS-V_re_ANK16.woff);
}

@font-face {
    font-family: ank24;
    src: url(/assets/fonts/Web437_DOS-V_re_ANK24.woff);
}

@font-face {
    font-family: mod3;
    src: url(https://file.garden/Zx6xDK2qeAn-d7p4/fonts/Web437_IBM_Model3x_Alt1.woff);
}

body:before {
    content: " ";
    
    height: 100%;
    width: 100%;
    display: block;
    position: fixed; 
    top: 0; 
    left: 0; 
    opacity:1;
    z-index: 1000000000000;
    background-image: url('start.gif');
    background-color: #101214;
    background-size:auto;
    background-repeat: no-repeat;
    background-position:center;
    animation: yourAnimation 0.9s ease 1s 1 normal forwards;
    pointer-events: none;}
    @keyframes yourAnimation { 0.0%{ opacity: 1;} 75%{ opacity: 1; } 100%{ opacity: 0;} } 

body {
margin: 0;
background-color: #10130d;
background-image: url("shade.png"), url("45.png");
background: image opacity 0.1;
background-size: 100% 100%, auto;
background-repeat: no-repeat, repeat;
background-position: left, 25%;
background-attachment: fixed, local;
--main:black;
--back: #fcfbf4;
--mid: #dad2b4;
}

p {
    margin: 0;
}

.site {
    display: flex;
}

header {
    display: flex;
    justify-content: center;
    margin: 10px;
>>>>>>> b1950db020df33f7ae98a6b6d0a60e43fe9deb04
}

/* header img {
    -webkit-filter: drop-shadow(11px 11px 0 var(--main));
    filter: drop-shadow(11px 11px 0 var(--main));
} */

<<<<<<< HEAD
#content {
  display: grid;
  grid-template-columns: max-content max-content max-content;
  justify-content: center;
  color: var(--main);
  font-family: Tahoma, sans-serif;
  font-size: 13px;
  margin: 10px;
}

.box {
  border: solid 1px var(--main);
  background:
=======
#content{
    display: grid;
    grid-template-columns: max-content max-content max-content;
    justify-content: center;
    color: var(--main);
    font-family:  Tahoma, sans-serif;
    font-size: 13px;
    margin: 10px;
}

.box {
    border: solid 1px var(--main);
    background:
>>>>>>> b1950db020df33f7ae98a6b6d0a60e43fe9deb04
    var(--back);
}

.side {
<<<<<<< HEAD
  width: 160px;
  height: fit-content;
  margin: 0 10px;
  padding: 5px;
  /* linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%)*/
  ;

}


.guest {
  grid-row: 6;
  grid-column: 1 / 3;
  place-self: center;
  place-items: center;
  display: grid;
  width: 125px;
  padding: 8px;
  margin-top: 20px;

  border-image: url("/graphics/lace border.png");
  border-image-width: 29px;
  border-image-slice: 29 fill;
  border-image-repeat: round;
  border-image-outset: 15px;
  
}

#atlas {
  font-family: mod3, MS Gothic, Tahoma, sans-serif;
  font-size: 16px;
  border-image-source: url("lace.png");
  border-image-width: 23px;
  border-image-slice: 23;
  border-image-repeat: unset;
  border-image-outset: 15px;
  width: 100px;
  display: flex;
  justify-content: center;
  margin: 25px auto;

  a:not([href]) {
    color: #545e53;
  }

  a {
    display: block;
    text-decoration: none;
    color: #036000;
  }

  a::before {
    content: ' ';
    font-style: normal;
  }

  a:hover {
    -moz-transition: all .5s;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    font-style: italic;
    text-shadow: 0 0 5px white;
  }
}

#blinkies {
  img {
    margin: 1px;
  }
}

.marquee-wrapper .container {
  overflow: hidden;
  width: 642px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.marquee-wrapper .marquee-block {
  --total-marquee-items: 15;
  width: calc(98px * (var(--total-marquee-items)));
  overflow: hidden;
  box-sizing: border-box;
  position: relative;
  padding: 30px 0;
  top: -23px;
  grid-row: 2 / 3;
  grid-column: 2 / 3;
}

.marquee-inner {
  display: block;
  width: 200%;
  position: absolute;
}

.marquee-inner.to-left {
  animation: marqueeLeft 29s linear infinite;
}

.marquee-inner.to-right {
  animation: marqueeRight 25s linear infinite;
}

.marquee-item {
  width: 88px;
  height: auto;
  display: inline-block;
  margin: 0 5px;
  float: left;
  transition: all .2s ease-out;
}

@keyframes marqueeLeft {
  0% {
    left: 0;
  }

  100% {
    left: -100%;
  }
}


.marquee-inner.to-left:hover {
  animation-play-state: paused;
}



#btn {
  text-align: center;
  overflow: hidden;
  margin: 15px auto;
}

#btn textarea {
  overflow-y: scroll;
  resize: none;
}

.mid {
  grid-column: 2 / 3;
  padding: 15px;
  width: 610px;
  height: max-content;
  padding: 32px 15px;
  border-image-source: url("paper.png");
  border-image-slice: 34 37 25 128 fill;
  border-image-repeat: stretch;
  border-image-width: 34px 37px 25px 128px;
  background: none;
  margin: -4px 0;
}

#wlcm {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 34px auto;
  grid-gap: 8px;
  text-align: justify;

  p {
    line-height: 12pt;
  }
}

#wlcm p {}

#welcome {
  font-family: helvetica;
  font-size: 32px;
  font-weight: lighter;
  font-style: italic;
  grid-column: 2 / 3;
}

#crt {
  font-family: mod3;
  font-style: italic;
}

.crt {
  margin: 10px;
}

.crt-item {
  font-weight: bold;
}

.counter {
  text-align: center;
}

.diario {
  border: 1px solid #b5bec1;
  border-radius: 3px;

  height: 101px;

  text-align: justify;
  font-size: 13px;

  margin: 10px;
  padding: 10px;

  overflow: auto;
  scrollbar-width: none;
  box-shadow: inset 0 0 0 1px var(--back);
}

.diario p {
  position: absolute;
=======
    width: 160px;
    height: fit-content;
    margin: 0 10px;
    padding: 5px;
    /* linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0) 59%, rgba(0, 0, 0, 0.65) 100%)*/;

}

#atlas {
    font-family: mod3, MS Gothic, Tahoma, sans-serif;
    font-size: 16px;
    border-image-source: url("lace.png");
    border-image-width: 23px;
    border-image-slice: 23;
    border-image-repeat: unset;
    border-image-outset: 15px;
    width: 100px;
    display: flex;
  justify-content: center;
  margin: 25px auto;
    a:not([href]) {
        color: #545e53;
    } 
    a{
        display: block;
        text-decoration: none;
        color: #036000;
    }
    a::before {
        content:' ';
        font-style: normal;
    }
    a:hover {
        -moz-transition: all .5s;
        -webkit-transition: all .5s;
        -o-transition: all .5s;
        transition: all .5s;
        font-style: italic;
        text-shadow: 0 0 5px white;
    }
}

#blinkies {
    img {
        margin: 1px;
    }
}

.marquee-wrapper .container{
    overflow:hidden;
    width: 642px;
    grid-row: 2 / 3;
  grid-column: 2 / 3;
  }
  
  .marquee-wrapper .marquee-block{
    --total-marquee-items:15;
    width: calc(98px * (var(--total-marquee-items)));
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    padding: 30px 0;
    top: -23px;
    grid-row: 2 / 3;
  grid-column: 2 / 3;
  }
  .marquee-inner{
    display: block;
    width: 200%;
    position: absolute;
  }
  
  .marquee-inner.to-left{
    animation: marqueeLeft 29s linear infinite;
  }
  .marquee-inner.to-right{
    animation: marqueeRight 25s linear infinite;
  }
  .marquee-item{
    width: 88px;
    height: auto;
    display: inline-block;
    margin: 0 5px;
    float: left;
    transition: all .2s ease-out;
  }
  @keyframes marqueeLeft{
    0% {
      left: 0;
    }
    100% {
      left: -100%;
    }
  }
  

  .marquee-inner.to-left:hover {
    animation-play-state: paused;
  }
  


#btn {
    text-align: center;
    overflow: hidden;
    margin: 15px auto;
}

#btn textarea {
    overflow-y: scroll;
    resize: none;
}

.mid {
    grid-column: 2 / 3;
    padding: 15px;
    width: 610px;
    height: max-content;
    padding: 32px 15px;
    border-image-source: url("paper.png");
    border-image-slice: 34 37 25 128 fill;
    border-image-repeat: stretch;
    border-image-width: 34px 37px 25px 128px;
    background: none;
    margin: -4px 0;
}

#wlcm {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 34px auto;
    grid-gap: 8px;
    text-align: justify;
    p {
      line-height: 12pt;
    }
}

#wlcm p {

}

#welcome {
    font-family: helvetica;
    font-size: 32px;
    font-weight: lighter;
    font-style: italic;
    grid-column: 2 / 3;
}

#crt {
    font-family: mod3;
    font-style: italic;
}

.crt {
    margin: 10px;
}

.crt-item {
    font-weight: bold;
}

.counter {
    text-align: center;
}

.diario {
    border: 1px solid #b5bec1;
    border-radius: 3px;

    height: 101px;

    text-align: justify;
    font-size: 13px;

    margin: 10px;
    padding: 10px;
    
    overflow: auto;
    scrollbar-width: none;
    box-shadow: inset 0 0 0 1px var(--back);
}

.diario p {
    position: absolute;
>>>>>>> b1950db020df33f7ae98a6b6d0a60e43fe9deb04
  margin-top: -13.3pt;
  text-shadow: 2px 0 var(--back), -2px 0 var(--back), 0 2px var(--back), 0 -2px var(--back), 1px 1px var(--back), -1px -1px var(--back), 1px -1px var(--back), -1px 1px var(--back);
}

.diario b {
<<<<<<< HEAD
  display: block;
}

footer {
  grid-column: 1 / 4;
  place-self: center;
  width: max-content;
  font-family: Frutiger, Helvetica, Tahoma, sans-serif;
  color: #557f69;
  margin-top: 7px;
  padding: 7px;
  text-align: center;
  font-size: 14px;
  background-color: aliceblue;

  a {
    color: hsl(145, 85%, 27%)
  }

  a:focus {
    outline: 1px dotted hsl(145, 85%, 27%)
  }

  a:hover {
    color: hsl(145, 40%, 47%)
  }
=======
    display: block;
}

footer {
    grid-column: 1 / 4;
    place-self: center;
    width: max-content;
    font-family: Frutiger, Helvetica, Tahoma, sans-serif;
    color: #557f69;
    margin-top: 7px;
    padding: 7px;
    text-align: center;
    font-size: 14px;
    background-color: aliceblue;
    a {
        color:hsl(145, 85%, 27%)
       }
    a:focus {
        outline:1px dotted hsl(145, 85%, 27%)
       }
    a:hover {
        color:hsl(145, 40%, 47%)
       }
>>>>>>> b1950db020df33f7ae98a6b6d0a60e43fe9deb04
}

main {
  margin: auto
}

:root {
<<<<<<< HEAD
  --balloon-border-color: rgba(0, 0, 0, 0.4);
  --balloon-tail-top: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 1.5V19.5H18.5L0.5 1.5Z' fill='%23fff' stroke='%23fff'/%3E%3Cpath d='M1 19.5H0.5V1.5L18.5 19.5H18' stroke='%23939393'/%3E%3C/svg%3E");
  --balloon-tail-bottom: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 1.5V19.5H18.5L0.5 1.5Z' fill='%23ddd' stroke='%23ddd'/%3E%3Cpath d='M1 19.5H0.5V1.5L18.5 19.5H18' stroke='%23939393'/%3E%3C/svg%3E");
  --balloon-tail-size: 18px;
  --balloon-tail-offset: 1em;
}

[role="tooltip"] {
  position: relative;
  padding: 1em 1em 1em 2.5em;
  border: 1px solid var(--balloon-border-color);
  border-radius: var(--border-radius);
  box-shadow: 5px 5px 3px -3px var(--balloon-border-color);
  background: linear-gradient(to bottom, #fff, var(--button-shade-light));

  &::before {
    content: "";
    position: absolute;
    background: var(--balloon-tail-top);
    width: var(--balloon-tail-size);
    height: var(--balloon-tail-size);
    top: calc(var(--balloon-tail-size) * -1);
    left: var(--balloon-tail-offset);
  }

  &[id] {
    position: absolute;
  }

  &.is-top {
    &::before {
      background: var(--balloon-tail-bottom);
      bottom: calc(var(--balloon-tail-size) * -1);
      top: unset;
      transform: scale(-1);
    }

    &.is-right {
      &::before {
        transform: scaleY(-1);
      }
    }
  }

  &.is-left {
    &::before {
      left: unset;
      right: var(--balloon-tail-offset);
    }

    &.is-bottom {
      &::before {
        transform: scaleX(-1);
      }
    }
  }
}
=======
    --balloon-border-color: rgba(0, 0, 0, 0.4);
    --balloon-tail-top: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 1.5V19.5H18.5L0.5 1.5Z' fill='%23fff' stroke='%23fff'/%3E%3Cpath d='M1 19.5H0.5V1.5L18.5 19.5H18' stroke='%23939393'/%3E%3C/svg%3E");
    --balloon-tail-bottom: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0.5 1.5V19.5H18.5L0.5 1.5Z' fill='%23ddd' stroke='%23ddd'/%3E%3Cpath d='M1 19.5H0.5V1.5L18.5 19.5H18' stroke='%23939393'/%3E%3C/svg%3E");
    --balloon-tail-size: 18px;
    --balloon-tail-offset: 1em;
  }
  
  [role="tooltip"] {
    position: relative;
    padding: 1em 1em 1em 2.5em;
    border: 1px solid var(--balloon-border-color);
    border-radius: var(--border-radius);
    box-shadow: 5px 5px 3px -3px var(--balloon-border-color);
    background: linear-gradient(to bottom, #fff, var(--button-shade-light));
  
    &::before {
      content: "";
      position: absolute;
      background: var(--balloon-tail-top);
      width: var(--balloon-tail-size);
      height: var(--balloon-tail-size);
      top: calc(var(--balloon-tail-size) * -1);
      left: var(--balloon-tail-offset);
    }
  
    &[id] {
      position: absolute;
    }
  
    &.is-top {
      &::before {
        background: var(--balloon-tail-bottom);
        bottom: calc(var(--balloon-tail-size) * -1);
        top: unset;
        transform: scale(-1);
      }
  
      &.is-right {
        &::before {
          transform: scaleY(-1);
        }
      }
    }
  
    &.is-left {
      &::before {
        left: unset;
        right: var(--balloon-tail-offset);
      }
  
      &.is-bottom {
        &::before {
          transform: scaleX(-1);
        }
      }
    }
  }
  
>>>>>>> b1950db020df33f7ae98a6b6d0a60e43fe9deb04
